.collection-products {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.collection-banner-wrapper {
  position: relative;
  width: 98%;
  margin: 0 auto;
}

.collection-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: yellow;
}

.collection-banner-image {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}

.product-image-container {
  width: 350px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  position: relative;
}

.product-image {
  width: 60%;
  height: auto;
  position: absolute;
  z-index: 10;
}

.product-image--secondary {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  position: absolute;
  z-index: 5;
}

.product-image--secondary {
  display: none;
}

.product-container:hover .product-image--secondary {
  display: block;
}