.film-service {
  position: relative;
}

.order-summary-wrapper {
  position: absolute;
  top: 0px;
  right: 15px;
  width: 250px;
  background-color: #FFF750;
  color: black;
  padding: 10px 15px;
  border-radius: 15px;
}

.summary-details {
  display: flex;
  justify-content: space-between;
  color: grey;
  font-size: 14px;
}

.help-div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.help-image {
  width: 50px;
  height: auto;
}

.help-text-div {
  display: flex;
  flex-direction: column;
}