/* Obviously, you can change this to what you need */
.image-carousel {
  display: flex;
  gap: 10px;
}

.image-carousel-item {
  position: relative;
  width: 600px;
  height: auto;
}

.image-carousel-item img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.ig-button {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 8px;
  border-radius: 50px;
}